/** Button uxcrud-blue **/
body a.btn-outline-uxcrud-blue,
.btn-outline-uxcrud-blue {
    color: #0056B5;
    border-color: #0056B5;
}
body a.btn-uxcrud-blue,
.btn-uxcrud-blue,
.btn-uxcrud-blue.disabled {
    background: #0056B5;
    color: #ffffff;
    border: 1px solid #0056B5;
}
.btn-uxcrud-blue.active,
.btn-uxcrud-blue:hover,
.btn-uxcrud-blue:focus,
.btn-outline-uxcrud-blue.active,
.btn-outline-uxcrud-blue:focus,
.btn-outline-uxcrud-blue:hover {
    background: #0056B5;
    opacity: 0.7;
    border: 1px solid #0056B5;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #0056B5, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #0056B5;
    box-shadow: 0 14px 26px -12px #0056B5, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #0056B5;
}
/** Button uxcrud-indigo **/
body a.btn-outline-uxcrud-indigo,
.btn-outline-uxcrud-indigo {
    color: #550BCB;
    border-color: #550BCB;
}
body a.btn-uxcrud-indigo,
.btn-uxcrud-indigo,
.btn-uxcrud-indigo.disabled {
    background: #550BCB;
    color: #ffffff;
    border: 1px solid #550BCB;
}
.btn-uxcrud-indigo.active,
.btn-uxcrud-indigo:hover,
.btn-uxcrud-indigo:focus,
.btn-outline-uxcrud-indigo.active,
.btn-outline-uxcrud-indigo:focus,
.btn-outline-uxcrud-indigo:hover {
    background: #550BCB;
    opacity: 0.7;
    border: 1px solid #550BCB;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #550BCB, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #550BCB;
    box-shadow: 0 14px 26px -12px #550BCB, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #550BCB;
}
/** Button uxcrud-purple **/
body a.btn-outline-uxcrud-purple,
.btn-outline-uxcrud-purple {
    color: #502F93;
    border-color: #502F93;
}
body a.btn-uxcrud-purple,
.btn-uxcrud-purple,
.btn-uxcrud-purple.disabled {
    background: #502F93;
    color: #ffffff;
    border: 1px solid #502F93;
}
.btn-uxcrud-purple.active,
.btn-uxcrud-purple:hover,
.btn-uxcrud-purple:focus,
.btn-outline-uxcrud-purple.active,
.btn-outline-uxcrud-purple:focus,
.btn-outline-uxcrud-purple:hover {
    background: #502F93;
    opacity: 0.7;
    border: 1px solid #502F93;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #502F93, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #502F93;
    box-shadow: 0 14px 26px -12px #502F93, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #502F93;
}
/** Button uxcrud-pink **/
body a.btn-outline-uxcrud-pink,
.btn-outline-uxcrud-pink {
    color: #EA66B0;
    border-color: #EA66B0;
}
body a.btn-uxcrud-pink,
.btn-uxcrud-pink,
.btn-uxcrud-pink.disabled {
    background: #EA66B0;
    color: #ffffff;
    border: 1px solid #EA66B0;
}
.btn-uxcrud-pink.active,
.btn-uxcrud-pink:hover,
.btn-uxcrud-pink:focus,
.btn-outline-uxcrud-pink.active,
.btn-outline-uxcrud-pink:focus,
.btn-outline-uxcrud-pink:hover {
    background: #EA66B0;
    opacity: 0.7;
    border: 1px solid #EA66B0;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #EA66B0, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #EA66B0;
    box-shadow: 0 14px 26px -12px #EA66B0, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #EA66B0;
}
/** Button uxcrud-red **/
body a.btn-outline-uxcrud-red,
.btn-outline-uxcrud-red {
    color: #8C183F;
    border-color: #8C183F;
}
body a.btn-uxcrud-red,
.btn-uxcrud-red,
.btn-uxcrud-red.disabled {
    background: #8C183F;
    color: #ffffff;
    border: 1px solid #8C183F;
}
.btn-uxcrud-red.active,
.btn-uxcrud-red:hover,
.btn-uxcrud-red:focus,
.btn-outline-uxcrud-red.active,
.btn-outline-uxcrud-red:focus,
.btn-outline-uxcrud-red:hover {
    background: #8C183F;
    opacity: 0.7;
    border: 1px solid #8C183F;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #8C183F, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #8C183F;
    box-shadow: 0 14px 26px -12px #8C183F, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #8C183F;
}
/** Button uxcrud-orange **/
body a.btn-outline-uxcrud-orange,
.btn-outline-uxcrud-orange {
    color: #fd7e14;
    border-color: #fd7e14;
}
body a.btn-uxcrud-orange,
.btn-uxcrud-orange,
.btn-uxcrud-orange.disabled {
    background: #fd7e14;
    color: #ffffff;
    border: 1px solid #fd7e14;
}
.btn-uxcrud-orange.active,
.btn-uxcrud-orange:hover,
.btn-uxcrud-orange:focus,
.btn-outline-uxcrud-orange.active,
.btn-outline-uxcrud-orange:focus,
.btn-outline-uxcrud-orange:hover {
    background: #fd7e14;
    opacity: 0.7;
    border: 1px solid #fd7e14;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #fd7e14, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #fd7e14;
    box-shadow: 0 14px 26px -12px #fd7e14, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #fd7e14;
}
/** Button uxcrud-yellow **/
body a.btn-outline-uxcrud-yellow,
.btn-outline-uxcrud-yellow {
    color: #ffc107;
    border-color: #ffc107;
}
body a.btn-uxcrud-yellow,
.btn-uxcrud-yellow,
.btn-uxcrud-yellow.disabled {
    background: #ffc107;
    color: #ffffff;
    border: 1px solid #ffc107;
}
.btn-uxcrud-yellow.active,
.btn-uxcrud-yellow:hover,
.btn-uxcrud-yellow:focus,
.btn-outline-uxcrud-yellow.active,
.btn-outline-uxcrud-yellow:focus,
.btn-outline-uxcrud-yellow:hover {
    background: #ffc107;
    opacity: 0.7;
    border: 1px solid #ffc107;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #ffc107, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #ffc107;
    box-shadow: 0 14px 26px -12px #ffc107, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #ffc107;
}
/** Button uxcrud-green **/
body a.btn-outline-uxcrud-green,
.btn-outline-uxcrud-green {
    color: #155624;
    border-color: #155624;
}
body a.btn-uxcrud-green,
.btn-uxcrud-green,
.btn-uxcrud-green.disabled {
    background: #155624;
    color: #ffffff;
    border: 1px solid #155624;
}
.btn-uxcrud-green.active,
.btn-uxcrud-green:hover,
.btn-uxcrud-green:focus,
.btn-outline-uxcrud-green.active,
.btn-outline-uxcrud-green:focus,
.btn-outline-uxcrud-green:hover {
    background: #155624;
    opacity: 0.7;
    border: 1px solid #155624;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #155624, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #155624;
    box-shadow: 0 14px 26px -12px #155624, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #155624;
}
/** Button uxcrud-teal **/
body a.btn-outline-uxcrud-teal,
.btn-outline-uxcrud-teal {
    color: #137155;
    border-color: #137155;
}
body a.btn-uxcrud-teal,
.btn-uxcrud-teal,
.btn-uxcrud-teal.disabled {
    background: #137155;
    color: #ffffff;
    border: 1px solid #137155;
}
.btn-uxcrud-teal.active,
.btn-uxcrud-teal:hover,
.btn-uxcrud-teal:focus,
.btn-outline-uxcrud-teal.active,
.btn-outline-uxcrud-teal:focus,
.btn-outline-uxcrud-teal:hover {
    background: #137155;
    opacity: 0.7;
    border: 1px solid #137155;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #137155, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #137155;
    box-shadow: 0 14px 26px -12px #137155, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #137155;
}
/** Button uxcrud-cyan **/
body a.btn-outline-uxcrud-cyan,
.btn-outline-uxcrud-cyan {
    color: #0C545F;
    border-color: #0C545F;
}
body a.btn-uxcrud-cyan,
.btn-uxcrud-cyan,
.btn-uxcrud-cyan.disabled {
    background: #0C545F;
    color: #ffffff;
    border: 1px solid #0C545F;
}
.btn-uxcrud-cyan.active,
.btn-uxcrud-cyan:hover,
.btn-uxcrud-cyan:focus,
.btn-outline-uxcrud-cyan.active,
.btn-outline-uxcrud-cyan:focus,
.btn-outline-uxcrud-cyan:hover {
    background: #0C545F;
    opacity: 0.7;
    border: 1px solid #0C545F;
    color: white;
    -webkit-box-shadow: 0 14px 26px -12px #0C545F, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #0C545F;
    box-shadow: 0 14px 26px -12px #0C545F, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #0C545F;
}
