
/*
Template Name: Material Pro Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*
https://trianglify.io/p/w:1440!h:900!x:ffffff.502F93!v:0.28!c:0.16!s:0.6309241428474723

https://www.cssfontstack.com/oldsites/hexcolortool/

*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
body.uxcrud-purple .preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

body.uxcrud-purple .preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

/*******************
/*Top bar
*******************/
body.uxcrud-purple .topbar {
  background: #502F93;
}

body.uxcrud-purple .topbar .navbar-header {
  background: rgba(0, 0, 0, 0.05);
}

body.uxcrud-purple .topbar .top-navbar .navbar-header .navbar-brand .dark-logo {
  display: none;
}

body.uxcrud-purple .topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}

body.uxcrud-purple .topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
  color: #ffffff !important;
}

body.uxcrud-purple .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover,
body.uxcrud-purple .topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
  color: rgba(255, 255, 255, 0.8) !important;
}

/*******************
/*General Elements
*******************/
body.uxcrud-purple a {
  color: #502F93;
}

body.uxcrud-purple a.link:hover,
body.uxcrud-purple a.link:focus {
  color: #502F93 !important;
}

body.uxcrud-purple .bg-theme {
  background-color: #502F93 !important;
}

body.uxcrud-purple .pagination > .active > a,
body.uxcrud-purple .pagination > .active > span,
body.uxcrud-purple .pagination > .active > a:hover,
body.uxcrud-purple .pagination > .active > span:hover,
body.uxcrud-purple .pagination > .active > a:focus,
body.uxcrud-purple .pagination > .active > span:focus {
  background-color: #502F93;
  border-color: #502F93;
}

body.uxcrud-purple .right-sidebar .rpanel-title {
  background: #502F93;
}

body.uxcrud-purple .stylish-table tbody tr:hover,
body.uxcrud-purple .stylish-table tbody tr.active {
  border-left: 4px solid #502F93;
}

body.uxcrud-purple .text-themecolor {
  color: #502F93 !important;
}

body.uxcrud-purple .profile-tab li a.nav-link.active,
body.uxcrud-purple .customtab li a.nav-link.active {
  border-bottom: 2px solid #502F93;
  color: #502F93;
}

body.uxcrud-purple .profile-tab li a.nav-link:hover,
body.uxcrud-purple .customtab li a.nav-link:hover {
  color: #502F93;
}

body.uxcrud-purple .uxcrud-line.header-text {
  border-bottom: 1px solid #502F93;
}

body.uxcrud-purple .card-outline-info .card-header {
  background: #502F93;
  border-color: #502F93;
}

body.uxcrud-purple .btn-outline-info:not(:disabled):not(.disabled).active,
body.uxcrud-purple .btn-outline-info:not(:disabled):not(.disabled):active,
body.uxcrud-purple .show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #673CBF;
  border-color: #673CBF;
}

/* Highlight search and filters with value set */
body.uxcrud-purple .dt-filter input:not(:placeholder-shown)/*,
body.uxcrud-purple .uxcrud-filters input:not(:placeholder-shown):not(.select2-search__field)*/ {
    border: 2px solid #502F93;
}


/******************
/* Cards
 */
body.uxcrud-purple .card-icon {
  color: white;
}

/*******************
/*Buttons
*******************/
body.uxcrud-purple .btn-themecolor,
body.uxcrud-purple .btn-themecolor.disabled,
body.uxcrud-purple .btn-info,
body.uxcrud-purple .btn-info.disabled {
  background: #502F93;
  color: #ffffff;
  border: 1px solid #502F93;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover,
.btn-info:hover,
.btn-info.disabled:hover {
  background: #502F93;
  opacity: 0.7;
  border: 1px solid #502F93;
}

body.uxcrud-purple .btn-themecolor.active,
body.uxcrud-purple .btn-themecolor:focus,
body.uxcrud-purple .btn-themecolor.disabled.active,
body.uxcrud-purple .btn-themecolor.disabled:focus,
body.uxcrud-purple .btn-info.active,
body.uxcrud-purple .btn-info:focus,
body.uxcrud-purple .btn-info.disabled.active,
body.uxcrud-purple .btn-info.disabled:focus {
  background: #5933A3;
}

body.uxcrud-purple .btn-outline-info {
  color: #502F93;
  border-color: #502F93;
}

.btn-outline-info {
  color: #502F93;
  background-color: transparent;
  border-color: #502F93;
  -webkit-box-shadow: 0 2px 2px 0 #5933A30E, 0 3px 1px -2px #5933A314, 0 1px 5px 0 #5933A30C;
  box-shadow: 0 2px 2px 0 #5933A30E, 0 3px 1px -2px #5933A314, 0 1px 5px 0 #5933A30C;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info.focus {
  background: #502F93;
  border-color: #502F93;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px #673CBF2A, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #673CBF14;
  box-shadow: 0 14px 26px -12px #673CBF2A, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #673CBF14; }
.btn-outline-info.active, .btn-outline-info:focus {
  -webkit-box-shadow: 0 14px 26px -12px #673CBF2A, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #673CBF14;
  box-shadow: 0 14px 26px -12px #673CBF2A, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #673CBF14; }


body.uxcrud-purple .btn-outline-info:hover,
body.uxcrud-purple .btn-outline-info:focus,
body.uxcrud-purple .btn-outline-info.focus {
  background: #502F93;
  border-color: #502F93;
  color: #ffffff;
  -webkit-box-shadow: 0 14px 26px -12px #502F932a, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #502F9314;
  box-shadow: 0 14px 26px -12px #502F932a, 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px #502F9314;
}

/*******************
/*Forms
 */
body.uxcrud-purple .form-material .form-control,
body.uxcrud-purple .form-material .form-control.focus,
body.uxcrud-purple .form-material .form-control:focus {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#502F93), to(#502F93)), -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#d9d9d9));
  background-image: -webkit-linear-gradient(#502F93, #502F93), -webkit-linear-gradient(#d9d9d9, #d9d9d9);
  background-image: -o-linear-gradient(#502F93, #502F93), -o-linear-gradient(#d9d9d9, #d9d9d9);
  background-image: linear-gradient(#502F93, #502F93), linear-gradient(#d9d9d9, #d9d9d9);
}

/* Steps for form pages */
body.uxcrud-purple .uxcrud-steps .customtab li a.nav-link.active {
  color: white;
  border: none;
}
body.uxcrud-purple .uxcrud-steps > ul > li.active {
  background-color:  #5933A3;
}
body.uxcrud-purple .uxcrud-steps li.active::after {
  border-left-color: #5933A3;
}


/*******************
/*Modal
 */
/** hide content on locked out screen*/
body.uxcrud-purple .fade.privacy-backdrop {
  background: #502F93;
}

/*******************
/*sidebar navigation
*******************/
body.uxcrud-purple .sidebar-nav {
  background: transparent;
}

body.uxcrud-purple .sidebar-nav ul li a {
  color: #435B60;
}

body.uxcrud-purple .sidebar-nav ul li a.active,
body.uxcrud-purple .sidebar-nav ul li a:hover,
body.uxcrud-purple .dropdown-user li a:hover {
  color: #5933A3;
}

body.uxcrud-purple .sidebar-nav ul li a.active {
  color: #263238;
}

body.uxcrud-purple .sidebar-nav ul li.nav-small-cap {
  color: #435B60;
}

body.uxcrud-purple .sidebar-nav > ul > li > a.active i,
body.uxcrud-purple .sidebar-nav > ul > li > a:hover i {
  color: #5933A3;
}

body.uxcrud-purple .sidebar-nav > ul > li > a i {
  color: #435B60;
}

body.uxcrud-purple .sidebar-nav > ul > li > a.active {
  font-weight: 400;
  background: #ffffff;
  color: #502F93;
}

body.uxcrud-purple .sidebar-nav > ul > li.active > a,
body.uxcrud-purple .sidebar-nav > ul > li.active:hover > a {
  color: #ffffff;
  background: #5933A3 !important;
}

body.uxcrud-purple .sidebar-nav > ul > li.active > a i,
body.uxcrud-purple .sidebar-nav > ul > li.active:hover > a i {
  color: #ffffff;
}

body.uxcrud-purple .sidebar-nav > ul > li.active > a:after,
body.uxcrud-purple .sidebar-nav > ul > li.active:hover > a:after {
  border-color: #ffffff;
}

@media (min-width: 768px) {
  body.uxcrud-purple.mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
    background: #673CBF;
  }
}

/**********************
 * CSS Chart
 **********************/
body.uxcrud-purple .css-bar-info.css-bar-0 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-5 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-10 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-15 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-20 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-25 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-30 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-35 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-40 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-45 {
  background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-50 {
  background-image: linear-gradient(270deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-55 {
  background-image: linear-gradient(288deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-60 {
  background-image: linear-gradient(306deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-65 {
  background-image: linear-gradient(324deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-70 {
  background-image: linear-gradient(342deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-75 {
  background-image: linear-gradient(360deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-80 {
  background-image: linear-gradient(378deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-85 {
  background-image: linear-gradient(396deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-90 {
  background-image: linear-gradient(414deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-95 {
  background-image: linear-gradient(432deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
body.uxcrud-purple .css-bar-info.css-bar-100 {
  background-image: linear-gradient(450deg, #502F93 50%, transparent 50%, transparent), linear-gradient(270deg, #502F93 50%, #fafafa 50%, #fafafa);
}
