
/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.css-bar {
    position: relative;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    background-color: transparent;
    margin-bottom: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 80px;
    height: 80px;
    font-size: 18px;
}
.css-bar:after,
.css-bar > img {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    text-align: center;
    font-weight: light;
    color: #a1a2a3;
}
.css-bar:after {
    content: attr(data-label);
    background-color: #fff;
}
.css-bar > img {

}
.css-bar:after,
.css-bar > img {
    width: 70px;
    height: 70px;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 70px;
}

.css-bar-blue.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-50 {
    background-image: linear-gradient(270deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-55 {
    background-image: linear-gradient(288deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-60 {
    background-image: linear-gradient(306deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-65 {
    background-image: linear-gradient(324deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-70 {
    background-image: linear-gradient(342deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-75 {
    background-image: linear-gradient(360deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-80 {
    background-image: linear-gradient(378deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-85 {
    background-image: linear-gradient(396deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-90 {
    background-image: linear-gradient(414deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-95 {
    background-image: linear-gradient(432deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}
.css-bar-blue.css-bar-100 {
    background-image: linear-gradient(450deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-indigo.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-50 {
    background-image: linear-gradient(270deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-55 {
    background-image: linear-gradient(288deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-60 {
    background-image: linear-gradient(306deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-65 {
    background-image: linear-gradient(324deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-70 {
    background-image: linear-gradient(342deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-75 {
    background-image: linear-gradient(360deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-80 {
    background-image: linear-gradient(378deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-85 {
    background-image: linear-gradient(396deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-90 {
    background-image: linear-gradient(414deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-95 {
    background-image: linear-gradient(432deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}
.css-bar-indigo.css-bar-100 {
    background-image: linear-gradient(450deg, #6610f2 50%, transparent 50%, transparent), linear-gradient(270deg, #6610f2 50%, #fafafa 50%, #fafafa);
}

.css-bar-purple.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-50 {
    background-image: linear-gradient(270deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-55 {
    background-image: linear-gradient(288deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-60 {
    background-image: linear-gradient(306deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-65 {
    background-image: linear-gradient(324deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-70 {
    background-image: linear-gradient(342deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-75 {
    background-image: linear-gradient(360deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-80 {
    background-image: linear-gradient(378deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-85 {
    background-image: linear-gradient(396deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-90 {
    background-image: linear-gradient(414deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-95 {
    background-image: linear-gradient(432deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}
.css-bar-purple.css-bar-100 {
    background-image: linear-gradient(450deg, #6f42c1 50%, transparent 50%, transparent), linear-gradient(270deg, #6f42c1 50%, #fafafa 50%, #fafafa);
}

/* -- Radial Pink -- */
.css-bar-pink.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-50 {
    background-image: linear-gradient(270deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-55 {
    background-image: linear-gradient(288deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-60 {
    background-image: linear-gradient(306deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-65 {
    background-image: linear-gradient(324deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-70 {
    background-image: linear-gradient(342deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-75 {
    background-image: linear-gradient(360deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-80 {
    background-image: linear-gradient(378deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-85 {
    background-image: linear-gradient(396deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-90 {
    background-image: linear-gradient(414deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-95 {
    background-image: linear-gradient(432deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}
.css-bar-pink.css-bar-100 {
    background-image: linear-gradient(450deg, #e83e8c 50%, transparent 50%, transparent), linear-gradient(270deg, #e83e8c 50%, #fafafa 50%, #fafafa);
}

.css-bar-red.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-50 {
    background-image: linear-gradient(270deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-55 {
    background-image: linear-gradient(288deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-60 {
    background-image: linear-gradient(306deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-65 {
    background-image: linear-gradient(324deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-70 {
    background-image: linear-gradient(342deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-75 {
    background-image: linear-gradient(360deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-80 {
    background-image: linear-gradient(378deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-85 {
    background-image: linear-gradient(396deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-90 {
    background-image: linear-gradient(414deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-95 {
    background-image: linear-gradient(432deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}
.css-bar-red.css-bar-100 {
    background-image: linear-gradient(450deg, #dc3545 50%, transparent 50%, transparent), linear-gradient(270deg, #dc3545 50%, #fafafa 50%, #fafafa);
}


.css-bar-orange.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-50 {
    background-image: linear-gradient(270deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-55 {
    background-image: linear-gradient(288deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-60 {
    background-image: linear-gradient(306deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-65 {
    background-image: linear-gradient(324deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-70 {
    background-image: linear-gradient(342deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-75 {
    background-image: linear-gradient(360deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-80 {
    background-image: linear-gradient(378deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-85 {
    background-image: linear-gradient(396deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-90 {
    background-image: linear-gradient(414deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-95 {
    background-image: linear-gradient(432deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}
.css-bar-orange.css-bar-100 {
    background-image: linear-gradient(450deg, #fd7e14 50%, transparent 50%, transparent), linear-gradient(270deg, #fd7e14 50%, #fafafa 50%, #fafafa);
}


.css-bar-yellow.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-50 {
    background-image: linear-gradient(270deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-55 {
    background-image: linear-gradient(288deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-60 {
    background-image: linear-gradient(306deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-65 {
    background-image: linear-gradient(324deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-70 {
    background-image: linear-gradient(342deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-75 {
    background-image: linear-gradient(360deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-80 {
    background-image: linear-gradient(378deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-85 {
    background-image: linear-gradient(396deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-90 {
    background-image: linear-gradient(414deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-95 {
    background-image: linear-gradient(432deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}
.css-bar-yellow.css-bar-100 {
    background-image: linear-gradient(450deg, #ffc107 50%, transparent 50%, transparent), linear-gradient(270deg, #ffc107 50%, #fafafa 50%, #fafafa);
}

.css-bar-green.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-50 {
    background-image: linear-gradient(270deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-55 {
    background-image: linear-gradient(288deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-60 {
    background-image: linear-gradient(306deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-65 {
    background-image: linear-gradient(324deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-70 {
    background-image: linear-gradient(342deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-75 {
    background-image: linear-gradient(360deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-80 {
    background-image: linear-gradient(378deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-85 {
    background-image: linear-gradient(396deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-90 {
    background-image: linear-gradient(414deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-95 {
    background-image: linear-gradient(432deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}
.css-bar-green.css-bar-100 {
    background-image: linear-gradient(450deg, #28a745 50%, transparent 50%, transparent), linear-gradient(270deg, #28a745 50%, #fafafa 50%, #fafafa);
}



.css-bar-teal.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-50 {
    background-image: linear-gradient(270deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-55 {
    background-image: linear-gradient(288deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-60 {
    background-image: linear-gradient(306deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-65 {
    background-image: linear-gradient(324deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-70 {
    background-image: linear-gradient(342deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-75 {
    background-image: linear-gradient(360deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-80 {
    background-image: linear-gradient(378deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-85 {
    background-image: linear-gradient(396deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-90 {
    background-image: linear-gradient(414deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-95 {
    background-image: linear-gradient(432deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}
.css-bar-teal.css-bar-100 {
    background-image: linear-gradient(450deg, #20c997 50%, transparent 50%, transparent), linear-gradient(270deg, #20c997 50%, #fafafa 50%, #fafafa);
}

.css-bar-cyan.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-50 {
    background-image: linear-gradient(270deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-55 {
    background-image: linear-gradient(288deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-60 {
    background-image: linear-gradient(306deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-65 {
    background-image: linear-gradient(324deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-70 {
    background-image: linear-gradient(342deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-75 {
    background-image: linear-gradient(360deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-80 {
    background-image: linear-gradient(378deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-85 {
    background-image: linear-gradient(396deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-90 {
    background-image: linear-gradient(414deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-95 {
    background-image: linear-gradient(432deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}
.css-bar-cyan.css-bar-100 {
    background-image: linear-gradient(450deg, #17a2b8 50%, transparent 50%, transparent), linear-gradient(270deg, #17a2b8 50%, #fafafa 50%, #fafafa);
}

/* -- Black -- */
.css-bar-black.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-50 {
    background-image: linear-gradient(270deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-55 {
    background-image: linear-gradient(288deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-60 {
    background-image: linear-gradient(306deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-65 {
    background-image: linear-gradient(324deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-70 {
    background-image: linear-gradient(342deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-75 {
    background-image: linear-gradient(360deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-80 {
    background-image: linear-gradient(378deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-85 {
    background-image: linear-gradient(396deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-90 {
    background-image: linear-gradient(414deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-95 {
    background-image: linear-gradient(432deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}
.css-bar-black.css-bar-100 {
    background-image: linear-gradient(450deg, #000000 50%, transparent 50%, transparent), linear-gradient(270deg, #000000 50%, #fafafa 50%, #fafafa);
}

/* -- Gray -- */
.css-bar-gray.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-50 {
    background-image: linear-gradient(270deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-55 {
    background-image: linear-gradient(288deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-60 {
    background-image: linear-gradient(306deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-65 {
    background-image: linear-gradient(324deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-70 {
    background-image: linear-gradient(342deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-75 {
    background-image: linear-gradient(360deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-80 {
    background-image: linear-gradient(378deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-85 {
    background-image: linear-gradient(396deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-90 {
    background-image: linear-gradient(414deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-95 {
    background-image: linear-gradient(432deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}
.css-bar-gray.css-bar-100 {
    background-image: linear-gradient(450deg, #808080 50%, transparent 50%, transparent), linear-gradient(270deg, #808080 50%, #fafafa 50%, #fafafa);
}

/* -- White -- */
.css-bar-white.css-bar-0 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(90deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-5 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(108deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-10 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(126deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-15 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(144deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-20 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(162deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-25 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(180deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-30 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(198deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-35 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(216deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-40 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(234deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-45 {
    background-image: linear-gradient(90deg, transparent 50%, transparent 50%, transparent), linear-gradient(252deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-50 {
    background-image: linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-55 {
    background-image: linear-gradient(288deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-60 {
    background-image: linear-gradient(306deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-65 {
    background-image: linear-gradient(324deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-70 {
    background-image: linear-gradient(342deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-75 {
    background-image: linear-gradient(360deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-80 {
    background-image: linear-gradient(378deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-85 {
    background-image: linear-gradient(396deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-90 {
    background-image: linear-gradient(414deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-95 {
    background-image: linear-gradient(432deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}
.css-bar-white.css-bar-100 {
    background-image: linear-gradient(450deg, #ffffff 50%, transparent 50%, transparent), linear-gradient(270deg, #ffffff 50%, transparent 50%, transparent);
}

.css-bar-lg {
    width: 100px;
    height: 100px;
    font-size: 20px;
    position: relative;
}
.css-bar-lg:after,
.css-bar-lg > img {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 90px;
}
.css-bar-lg > img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: 15px;
    line-height: 70px;
}

.css-bar > i {
    width: 70px;
    height: 70px;
    background: #fff;
    line-height: 70px;
    position: absolute;
    border-radius: 100%;
    text-align: center;
    margin-left: 5px;
    margin-top:5px;
    left: 0px;
    right: 0px;
    z-index: 120;
    font-size:27px;
    color:#a6b7bf;
}
.css-bar-sm {
    width: 50px;
    height: 50px;
    font-size: 12px;
}
.css-bar-sm:after,
.css-bar-sm > img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 40px;
}

.css-bar-xs {
    width: 30px;
    height: 30px;
    font-size: 8px;
}
.css-bar-xs:after,
.css-bar-xs > img {
    width: 24px;
    height: 24px;
    margin-left: 3px;
    margin-top: 3px;
    line-height: 21px;
}

.css-bar {
    background-clip: content-box;
}
