.checkbox {
    height:20px;
}
.btn-sub-icon-times {
    position:absolute;
    right:3px;
    bottom:2px;
}
.btn-sub-icon-plus {
    position:absolute;
    right:1px;
    bottom:3px;
}
#sidebarnav i.fa, #sidebarnav i.fas, #sidebarnav i.far , #sidebarnav i.fab {
    min-width: 1.5rem;
}

.sidebar-nav ul li ul li a.active {
    background-color:#eef5f9;
}
td.actions {
    min-width:150px;
}
.page-wrapper-no-left-margin {
    margin-left: 0 !important;
}

.fac-lower-right {
    position: relative;
    bottom:-.2em;
    left:-.3em;
    text-align: right;
}
tr.uxcrud-filters {
    display: none;
}

table .select2-container {
    min-width: 10rem;
}