/***********************************************************************
 * User
 */
.user-profile {
    min-height: 6rem;
    background-size: cover;
    background-position: bottom;
}

.flex-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-menu {
    visibility: collapse;
}

.show .dropdown-menu {
    visibility: visible;
}

/***********************************************************************
 * Card colours and styles
 */
.card-blue { background: #006BB3; border-color: #006BB3; }
.card-blue.hover-inverse :hover  { color: #006BB3; }
.card-indigo { background: #6610f2; border-color: #6610f2; }
.card-indigo.hover-inverse :hover { color: #6610f2; }
.card-purple { background: #6f42c1; border-color: #6f42c1; }
.card-purple.hover-inverse :hover { color: #6f42c1; }
.card-pink { background: #A91459; border-color: #A91459; }
.card-pink.hover-inverse :hover { color: #A91459; }
.card-red { background: #dc3545; border-color: #dc3545; }
.card-red.hover-inverse :hover { color: #dc3545; }
.card-orange { background: #fd7e14; border-color: #fd7e14; }
.card-orange.hover-inverse :hover { color: #fd7e14; }
.card-yellow { background: #ffc107; border-color: #ffc107; }
.card-yellow.hover-inverse :hover { color: #ffc107; }
.card-green { background: #28a745; border-color: #28a745; }
.card-green.hover-inverse :hover { color: #28a745; }
.card-teal { background: #158463; border-color: #158463; }
.card-teal.hover-inverse :hover { color: #158463; }
.card-cyan { background: #0C545F; border-color: #0C545F; }
.card-cyan.hover-inverse :hover { color: #0C545F; }

.card-black { background: #000000; border-color: #000000; }
.card-black.hover-inverse :hover { color: #000000; }
.card-gray { background: #808080; border-color: #808080; }
.card-gray.hover-inverse :hover { color: #808080; }
.card-white { background: #ffffff; border-color: #ffffff; }
.card-white.hover-inverse :hover { color: #ffffff; }

/** Card with large icon **/
.card-icon {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.card-icon i {
    font-size: 3rem;
    width: 100%;
}

.card-jump-panel:hover {
    background-color: white;
}

/** Highlight the card when the users uses the tab key **/
.card-jump-panel:focus {
    border: 2px solid black;
}

.row-eq-height .card {
    height: 100%;
}

/** Wrap buttons in a flexbox in order to show all of them correctly (Accessibility) **/
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/** Cards padding **/
.card-padding {
    padding-left: 2px;
    padding-right: 2px
}

/***********************************************************************
 * Text colours
 */
.text-blue { color: #006BB3; }
.text-indigo { color: #6610f2; }
.text-purple { color: #6f42c1; }
.text-pink { color: #A91459; }
.text-red { color: #dc3545; }
.text-orange { color: #fd7e14; }
.text-yellow { color: #ffc107; }
.text-green { color: #28a745; }
.text-teal { color: #158463; }
.text-cyan { color: #0F798A; }
.text-black { color: #000000; }
.text-gray { color: #808080; }
.text-white { color: #ffffff; }

/***********************************************************************
 * Modal
 */
/** Overlay for background for stacked modals **/
.modal {
    background: rgba(0, 0, 0, 0.25)
}

.modal-xxl {
    min-width: 90%;
}

/** Show lock screen on top */
.modal.fade.privacy-backdrop {
    z-index: 1111;
}

.modal.fade.uxcrud-model-priority {
    z-index: 1110;
}

/*!** First letter of the modals title uppercase **!*/
/*.modal-title::first-letter {*/
/*    text-transform: uppercase;*/
/*}*/
/***********************************************************************
 * Modal colours
 */
.modal-info {
    background: #1e88e5;
    border-color: #1e88e5;
}

.modal-primary {
    background: #7460ee;
    border-color: #7460ee;
}

.modal-outline-info {
    border-color: #1e88e5;
}

.modal-outline-info .modal-header {
    background: #1e88e5;
    border-color: #1e88e5;
}

.modal-outline-inverse {
    border-color: #2f3d4a;
}

.modal-outline-inverse .modal-header {
    background: #2f3d4a;
    border-color: #2f3d4a;
}

.modal-outline-warning {
    border-color: #ffb22b;
}

.modal-outline-warning .modal-header {
    background: #ffb22b;
    border-color: #ffb22b;
}

.modal-outline-success {
    border-color: #26c6da;
}

.modal-outline-success .modal-header {
    background: #26c6da;
    border-color: #26c6da;
}

.modal-outline-danger {
    border-color: #fc4b6c;
}

.modal-outline-danger .modal-header {
    background: #fc4b6c;
    border-color: #fc4b6c;
}

.modal-outline-primary {
    border-color: #7460ee;
}

.modal-outline-primary .modal-header {
    background: #7460ee;
    border-color: #7460ee;
}

/***********************************************************************
 * Datatables
 */
.datatable {
    width: 100%;
}

.dataTables_wrapper {
    /* Commented out to avoid second scrollbar  */
    /*overflow-x: auto;*/
}

.dataTable.loading tbody {
    opacity: 0.25;
}

.dataTable.has-error {
    border: 1px solid #dc3545;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/** Show processing over whole table **/
div.dataTables_wrapper div.dataTables_processing {
    background-color: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    right: 0;
    margin-left: 0;
    text-align: center;
    font-size: 4rem;
    color: #707070;
    z-index: 100;
}

div.dt-filter {
    float:right;
}

.data-table th i {
    opacity: 0.25;
}

/** Hide text on action buttons **/
.data-table tbody td.actions .btn .label-text {
    display: none;
}

/** White text on selected language button **/
.btn-group label.active {
    /*    color: white!important;*/
}

/** Fix horizontal scrolling table data only  **/
.dt-scroll-x {
    overflow-x: auto;
    width: 100%;
}

/** Pagination button bootstrap look and feel **/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    min-width: 2.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-color: #6c757d;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/** Removed sorting arrows datatables **/
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
    background-image: none !important;
}

/** Single ascending arrow **/
table.dataTable thead .sorting_asc:after {
    content: "\f0de";
}

/** Single descending arrow **/
table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
}

/** Add fontawesome icons to dropdown **/
select.fa,
select.fa option,
select.fa + .select2 span
{
    font-family: "Font Awesome 5 Free", "Poppins", sans-serif;
    font-weight: 900;
}

.dataTable select {
    width: auto;
    /*    margin: 0.25rem;*/
}

/** Pagination button bootstrap look and feel **/
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:focus {
    color: #fff;
    background: #6c757d;
    border-color: #6c757d;
}

/** Pagination button bootstrap look and feel **/
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
    color: #999 !important;
}

.paginate_button.disabled{
    pointer-events: none;
}

/** Vertically align table content to top **/
.dataTable tbody td {
    vertical-align: text-top;
}

/** Vertically align table heading to bottom **/
.dataTable thead th {
    vertical-align: bottom;
}

/** Vertically align table footer to top **/
.dataTable tfoot th {
    vertical-align: top;
}

/***********************************************************************
 * Dashboard
 */
/** have highlighted text/number on it's own line **/
.dashboard-highlighted strong {
    font-weight: 300;
    line-height: 3rem;
    font-size: 2rem;
    display: block;
    clear:both;
}

/***********************************************************************
 * Forms
 */
/** make placeholder text lighter than normal text **/
::placeholder {
    color: rgba(103, 117, 124, 0.4) !important;
}

/** Fix select2 width **/
span.select2 {
    width: 100% !important;
}

/** Fix select2 deselect element accessibility **/
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #666660;
}

/* START Select2 ReadOnly */
select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}
/* END Select2 ReadOnly */

/* set minimum width of date input fields for filters */
input[type="date"] {
    min-width: 10rem;
}

/* No line between filter selection and option */
select.uxcrud-filter-date {
    max-width: 0.25rem;
    border-left: none;
}

/* No line between filter selection and option */
.input-date-range .input-group-text {
    border-right: none;
}

/* Fix multi line read only form field */
.readonly.form-control {
    height: auto;
}

/** Layout hasMany and belongsToMany read only items. **/
ul.uxcrud-multiple-select-items {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
li.uxcrud-select-item {
    list-style: none;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

/* View form fields as special read only */
.uxcrud-edit-modal.uxcrud-show .form-control {
    opacity: 1;
    border: 1px dotted white;
    background-color: white;
}

.read-only .form-control,
.readonly .form-control,
.form-control.readonly {
    background-color:#e9ecef;
    opacity: 0.7;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.uxcrud-edit-modal .locale-cy,
.uxcrud-edit-modal .locale-en {
    display: none;
}

.uxcrud-edit-modal.locale-cy .locale-cy,
.uxcrud-edit-modal.locale-en .locale-en {
    display: flex;
}

/* Disable remove button if there is only one field */
.multi-fields .multi-field-group:only-of-type .uxcrud-remove-multi-field {
    cursor: default;
}
/* Show empty space for usability when there is no remove button */
.multi-fields .multi-field-group:only-of-type .uxcrud-remove-multi-field i {
    visibility: hidden;
    /*color: #ced4da;*/
}

/** set min width checkbox **/
.uxcrud-checkbox {
    min-width: 2rem;
}


/** Hide options in linked select 2 **/
.select2-results__options li.hidden {
    display: none;
}

.uxcrud-view-modal .row-actions {
    display: none;
}

/* Space headers in uxcrud forms */
.uxcrud-line.header-text {
    border-bottom: 1px solid #1e88e5;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.uxcrud-form-header {
    margin: 0 1rem;
}

@media (min-width: 768px) {
    .uxcrud-line.row .uxcrud-line.row {
        margin: 0;
    }
}

.topbar ul.dropdown-user {
    padding: 0px;
    min-width: 270px;
    width: auto;
}

ul.dropdown-user li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
}
ul.dropdown-user li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #67757c;
}
ul.dropdown-user li .dw-user-box {
    padding: 10px 15px;
}

/*  */
.uxcrud-line.header-text:not(:first-of-type) {
    margin-top: 1rem;
}

.input-group-single {
    display:flex;
}

.input-group>.input-group-select:not(:first-child) .select2-selection, .input-group>.form-control:not(:first-child) .select2-selection {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/** fix indentation for nested groups/rows **/
.uxcrud-line.row .uxcrud-line.row.col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

/** uxcrud form text area field corners **/
.textarea-text .input-group-text {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*
    Limit view for textareas.
 */
.long-content-condensed, .limit-view-content,
.long-content-condensed-custom, .limit-view-content{
    max-height: 10rem;
    overflow-y: hidden;
}

/*
    Show expand / condense arrows
 */
.limit-view:after {
    float:right;
    height: 14px;
    width: 14px;
    display: block;
    position: relative;
    color: rgba(50, 50, 50, 0.5);
    line-height: 14px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: " \f078";
    cursor: pointer;
}
.limit-view.expanded:after {
    content: " \f077";
}

/* Hide margin for delete buttons on File field */
.file-files-datatable-select .input-group-append .btn.m-1 {
    margin: 0px !important;
}
.file-files-datatable-select .input-group-append .btn .label-text {
    display:none;
}

/**
 * Style tabs as stages
 **/
.uxcrud-steps .nav-tabs li:nth-child(n+2)::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-left: 1rem solid white;
    border-top: 1.69rem solid transparent;
    border-bottom: 1.69rem solid transparent;
    width: 0;
    height: 0;
    content: " ";
}
.uxcrud-steps .nav-tabs li:not(:last-child)::after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: -1rem;
    display: block;
    border-left: 1rem solid #e9ecef;
    border-top: 1.69rem solid transparent;
    border-bottom: 1.69rem solid transparent;
    width: 0;
    height: 0;
    content: " ";
}
.uxcrud-steps .nav-tabs li:last-child::after {
    border-left: none;
}
.uxcrud-steps.pages-page-group ul.nav-tabs li:not(:last-child) {
    margin-right: 0.75rem;
}
.uxcrud-steps .nav-tabs .nav-item {
    margin-bottom: .75rem;

}
.uxcrud-steps .nav-tabs .nav-item.active a {
    background-color: transparent;
}
.uxcrud-steps > ul.nav-tabs > li {
    background-color: #e9ecef;
    position: relative;
    display: block;
    padding-left:1rem;
}
/** end uxcrud steps **/

.uxcrud-file-or-upload a {
    padding: .375rem .75rem;
}

.uxcrud-file-or-upload input {
    width: 100%;
    height: 100%;
    padding: .1rem .375rem;
}


.has-danger .input-group .input-group-prepend .input-group-text,
.has-danger .select2-container--default .select2-selection--single {
    border-color: rgb(252, 75, 108);
}

/** Set link colour to red for alert-danger **/
body .alert-danger a {
    color: #420000;
}

/** Set link colour to amber for alert-warning **/
body .alert-warning a {
    color: #856404;
}
/* Colour danger label red */
.has-danger .form-control-feedback .danger {
    color: #fc4b6c;
}

/* Colour warning label amber to override parent danger if both present. */
.has-warning .form-control-feedback .warning {
    color: #7A4E00;
}

/* Fix issue with feedback covering input field */
.form-control-feedback {
    clear:both;
}

/** Reset search and filter forms in datatable with alerts */
.has-danger.uxcrud-form-datatable .form-control {
    border-color: rgb(206, 212, 218);
}

/* Highlight search when value set */
.dt-filter input:not(:placeholder-shown)/*,
.uxcrud-filters input:not(:placeholder-shown):not(.select2-search__field)*/ {
    border: 2px solid black;
}

/** Highlight data table **/
.has-danger.uxcrud-form-datatable table {
    border: solid 1px #fc4b6c;
    border-radius: 0.25rem;
}

/** Layout submit button in modal **/
.uxcrud-submit-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}

/***********************************************************************
 * Replace toast icons with fontawesome icons.
 */
.jq-toast-wrap .jq-has-icon {
    background-image: none !important;
}

.jq-has-icon:before {
    float: left;
    font-family: "Font Awesome 5 Free";
    font-size: 1.5rem;
    margin-left: -2.3rem;
    margin-top: 0.3rem;
    position: relative;
}

.jq-icon-success:before {
    font-weight: 900;
    content: "\f00c";
}

.jq-icon-warning:before {
    font-weight: 900;
    content: "\f071";
}

.jq-icon-error:before {
    font-weight: 900;
    content: "\f057";
}

.jq-icon-info:before {
    font-weight: 900;
    margin-left: -1.5rem;
    content: "\f129";
}

#toast-container > .toast:before {
    position: relative;
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 18px;
    float: left;
    margin-left: -1em;
    color: #FFF;
    padding-right: 0.5em;
    margin-right: 0.5em;
}

#toast-container > .toast-warning:before {
    content: "\f003";
}
#toast-container > .toast-error:before {
    content: "\f001";
}
#toast-container > .toast-info:before {
    content: "\f005";
}
#toast-container > .toast-success:before {
    content: "\f002";
}

/**************************************/
.sidebar-nav ul li ul li a.active {
    background-color:#eef5f9;
}
td.actions {
    min-width:150px;
}

.fac-lower-right {
    position: relative;
    bottom:-.2em;
    left:-.3em;
    text-align: right;
}

tr.uxcrud-filters {
    display: none;
}

table td.icon {
    text-align: center;
}

table .select2-container {
    min-width: 10rem;
}

/***********************************/
#dt-admin-page td.display_order {
    text-align: center;
    cursor: move;
}


/***** Print *****/
@media print {
    .modal {
        position: absolute;
        padding: 0 !important;
    }
    .modal,
    .modal-open .modal {
        overflow: visible;
    }

    .modal-dialog {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }

    .modal-backdrop {
        background-color: transparent;
    }

    .left-sidebar {
        display: none;
    }


    .page-wrapper,
    .mini-sidebar .page-wrapper{
        margin-left: 0;
    }

    /* For edge hide main wrapper if modal is open as no background colors are printed. */
    /* Microsoft Edge Browser 12+ (All) - one-liner method */
    _:-ms-lang(x), _:-webkit-full-screen, .modal-open #main-wrapper { display:none; }

    /* print PDF */


}

/**  CKEditor Field **/
/* make image responsive */
figure img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
/* center headers following figure in ckeditor */
figure+h2,
figure+h2+h2 {
    text-align: center;
}

/* Ensure ckeditor takes up full availabe width of parent element */
.uxcrud-ckeditor .ck.ck-editor {
    width: 100%;
}

/** Uxcrud specific datatables **/
/** Hide page name in snippet datatable on page model **/
.dt-admin-page-dt-admin-snippet th:first-child,
.dt-admin-page-dt-admin-snippet td:first-child {
    display: none;
}

/** Decrease padding in order to show the Sessional Commitment link (Accessibility) **/
.sidebar-nav {
    padding: 8px;
}

/** Highlight DOM element when using Tab key to navigate **/
.focus-highlight:focus {
    border: 2px solid black
}

/** Highlight dropdown menu when using Tab key to navigate **/
.focus-drop-highlight:focus-within {
    border: 2px solid #80BDFF;
}

/** Highlight check-box when using Tabkey to navigate **/
.focus-within-highlight:focus-within {
    border: 2px solid black;
}

/** Underline links in the main content of the page, except on buttons and cards **/
#main-content a:not(.btn, .card), .modal a:not(.btn, .card) {
    text-decoration: underline;
}

/** Exclude links on navigation tabs **/
#main-content .nav a, .modal .nav a {
    text-decoration: none;
}

/** Highlight link when using Tab key to navigate **/
a:focus {
    border: 2px solid black;
}

/** Highlight button when using Tab key to navigate **/
button:focus {
    border: 2px solid black;
}

/** Set first letter of the buttons to capital **/
.first-capital {
    text-transform: capitalize;
}

/** Set background color to btn-success button **/
.btn-success {
    background-color: #175E28;
    border-color: #175E28;
}


